{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'userapp/css/login.css' %}">
{% endblock %}
{% block content %}

<div class="container mt-4">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" class="form-control mb-2">
        <input type="password" name="password" placeholder="Password" class="form-control mb-2">
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="btn btn-primary" href="{%url 'register'%}">Register</a>
    </form>
</div>
{% endblock %}
